{%  extends 'base.html' %}

{% block content %}
<h3>Login Page</h3>
<form method="post">
    <p>{{form.username.label}}: {{form.username()}}</p>
    {% if form.username.errors %}
        {% for error in form.username.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    {% endif %}
    <p>{{form.password.label}}: {{form.password()}}</p>
    {% if form.password.errors %}
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    {% endif %}
    {{ form.submit()}}
    {{ form.hidden_tag() }}

</form>

{% endblock %}

